footer {
  background-color: $red;
  display: flex;
  justify-content: center;
  @include responsive;

  .content {
    @media screen and (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 20px;
      height: auto;
      p {
        font-size: 20px;
      }
    }
    @include montserrat;
    //@include responsive;
    font-size: 16px;
    width: 100%;
    max-width: $max-width;
    height: 270px;
    color: $white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    p {
      font-size: 12px;
    }

    h4 {
      font-weight: bold;
    }

    .footer-column {
      box-sizing: border-box;
      padding: 0 18px 0 18px;
      @media screen and (max-width: 1000px) {
        p {
          font-size: 20px;
        }
      }

      .footer-logo {
        max-width: 294px;
        padding: 18px;
      }
    }

    .logo-div {
      height: 100%;
      display: flex;
      padding: 40px 0;
      align-items: flex-end;
    }

    .mentions-div {
      @include responsive;
      height: 100%;
      display: flex;
      padding: 80px 0;
      align-items: flex-start;
      gap: 50px;
      
      @include responsive_500px{
        display: flex;
      }

      @include responsive_1000px{
        display: flex;
        flex-direction: row;
      }

      .footer-mentions{        
        @include responsive_500px{
          padding: 0 18px 0 18px;
          font-size: 20px;
        }

        @include responsive_1000px{
          padding: 0 18px 0 18px;
          font-size: 20px;
        }
      }

      .footer-contact{
        @include responsive_500px{
          padding: 0 18px 0 18px;
          font-size: 20px;

        }

        @include responsive_1000px{
          padding: 0 18px 0 18px;
          font-size: 20px;
        }
      }

      
    }

    .img {
      padding: 40px 0;
    }

    .footer-snw {
      display: flex;
      bottom: 0;

      .footer-icon-snw {
        margin: 0 30px 0 30px;

        img {
          max-width: 40px;
        }
      }
    }
  }
}

